/* Estilos generales para todo el HTML */

/* Estilos de cuerpo y fuente */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos de navegación */
.navbar {
    background-color: #121cdf;
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    color: white !important;
}

/* Estilos de título */
.title-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos de pie de página */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}
